.div-about {
  padding: 10rem 0;
  column-gap: 3rem;

  h2 {
    position: relative;
    top: -2rem;
  }

  .div-text {
    width: 90%;

    p {
      font-family: "Karla", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .div-collage {
    position: relative;
  }

  .div-img {
    position: absolute;
    right: 0;
    border-radius: 16px;
    overflow: hidden;
    width: 75%;

    img {
      border: 2px solid #eee;
      border-radius: 16px;
      width: 100%;
    }
  }

  .div-img:last-child {
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
