.btn {
  padding: 1rem;
  border-radius: 16px;
  border: none;
  background-color: #f4ce14;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 3rem;
}
