.footer {
  padding: 5rem 0;
  background-color: #fdf4ee;

  h3 {
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.4rem;

    li a {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .div-social {
    display: flex;
    flex-direction: column;

    img {
      width: 14.8rem;
      height: 4rem;
      // margin-bottom: 0.6rem;
    }

    .div-icons {
      margin-top: 1.2rem;
      display: flex;
      gap: 2rem;
    }

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }

    .copyright {
      margin-top: auto;
      font-size: 1.2rem;
    }
  }

  .grid {
    column-gap: 4rem;
  }
}

@media (max-width: 34em) {
  .footer {
    .grid {
      row-gap: 3.6rem;
    }

    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    .div-social {
      grid-row: 2;
    }

    .div-contact {
      grid-row: 2;
    }
  }
}
