.div-meals {
  margin-top: 10rem;
  margin-bottom: 5rem;

  .div-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .meal-cards {
    margin-top: 3rem;
    column-gap: 3rem;
    grid-auto-rows: minmax(0, 1fr);
  }
}
